ul.collection-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.1em;
  text-align: center;

  li {
    flex: 50% 0 0;
    margin: 0;
    
    @include media-query($medium) {
      flex: 33.33333% 0 0;
    }
    
    @media (min-width: 900px) {
      flex: 1;
    }
  }
  
  h4 {
    font-size: 1.4em;
    margin-bottom: 0.4em;
  }

  .img-container {
    margin: 1em auto 1em;
    height: 16em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 0 3em;

    
    @media ($mq-medium) {
      margin-top: 1em;
    }
  }

  img {
    flex: 0;
    filter: drop-shadow(-0.5em 0.5em 1em rgba(0, 0, 0, 0.15));
  }

  a {
    text-decoration: none;
    color: #9f9f9f;
    display: block;
    height: 100%;
    padding: 1em 5%;
    transition: box-shadow 0.4s;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 10em;

    li {
      margin: 0 0 0.5em;
      padding:  0;
    }
  }

  &.includes-products-true {

    ul, h4 {
      max-width: 10em
    }

    @media ($mq-medium) {
      text-align: left;
    }
  }
}