#global-footer {
  background-color: #20292F;
  color: white;
  text-align: center;
  padding: 3em 0 2rem;
  margin-top: 2em;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $color-green;
    }
  }

  .logo-image {
    margin: 0 auto 2rem;
  }

  form {
    font-size: 0;

     label {
       display: block;
       font-weight: 500;
       margin:  0 0 1em;
       font-size: 1.7rem;
     }

     input {
       outline: none;
       padding: 0 1em;
       margin: 0;
       vertical-align: top;
       border: none;
       font-size: 1.5rem;
       height: 4rem;
       line-height: 4rem;
     }

     input[type=email],
     input[type=text]  {
       background-color: rgba(255,255,255,0.05);
       outline: none;
       transition: background-color 0.3s;
       color: white;
       padding: 0 1em;

       &:focus {
        background-color: rgba(0,0,0,0.8);
       }

       &::placeholder {
         opacity: 0.5;
       }
     }

     input[type=submit] {
      font-size: 2.2rem;
      padding: 0 0.5em;
     }
  }

  .social-links {
    margin: 1em auto 1.5em;
    font-size: 2.2em;
    display: flex;
    justify-content: space-between;
    max-width: 10em;

    li {
      flex: 0;
    }

    a {
      display: inline-block;
      padding: 1em;
    }
  }

  .footer-links {
    font-weight: 500;
    margin: 0 0 2em;
    font-size: 1.4em;

    li {
      margin: 0 0 1em;
    }
  }

  small {
    font-size: 1.2em;
  }

  @media ($mq-medium) {
    text-align: left;

    .logo-image {
      margin: 0 auto 3rem;
    }

    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .column {
      margin: 0 0 2em;
    }

    .column:nth-of-type(2) {
      text-align: right;
    }

    small {
      flex: 1 1 100%;
    }
    
    .footer-links {
      font-size: 1.4em;
    }

    .social-links {
      margin-bottom: 1em;
      font-size: 1.8em;

      a {
        padding: 0 0.5em;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}