.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 $gutter;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 34em;
  background-color: $color-green;

  h1 {
    font-weight: bold;
    font-size: 8em;
    line-height: 1em;
    color: white;
    width: 100%;
    letter-spacing: -1px;
    margin: 0.25em auto 0;
  }

  .cta {
    background-color: white;
    color: $color-green;
    font-size: 1.3em;
    align-self: center;

    &:hover {
      background-color: $color-green;
      color: white;
    }
  }

  .grid & {
    margin-bottom: 0;
  }

  @media($mq-medium) {
    text-align: left;

    h1 {
      letter-spacing: -1px;
      font-size: 20em;
    }

    .cta {
      font-size: 1.6em;
      margin-bottom: 0.15em;
    }
  }
}