.hero {
  padding-top: 6em;
  font-size: 1.3em;

  .rte {
    font-size: inherit;
  }

  h1 {
    color: $color-green;
    font-weight: bold;
    width: 80%;
    margin: 0;
    vertical-align: text-bottom;
    letter-spacing: -2px;

    span {
      // this font is not centered on the line;
      transform: translateY(12%);
    }
  }

  h2 {
    font-weight: normal;
    opacity: 0.8;
    font-size: 1.9em;
    margin: 0 0 0.25em;
  }

  p {
    font-weight: 500;
    opacity: 0.5;
  }

  .hero-images-container {
    display: flex;
    margin:  2em 0 5em;
    justify-content: flex-start;
  }

  .hero-image {
    flex: auto 1 1;
    padding: 0 2%;
  }

  .floating-image {
    opacity: 1;
    transition: opacity 0.4s 0s, visibility 0s 0s;
    display: block;

    &.preload {
      visibility: hidden;
      opacity: 0;
    }

    .responsive-image__wrapper  {

      img {
        transition: transform 0.6s;
      }

      .psuedo {
        display: block;

        &:after,
        &:before {
          content: "";
          display: block;
          width: 100%;
          border-radius: 100%;
          height: 0;
          padding-bottom: 100%;
          position: absolute;
          bottom: 0;
          transform: scaleY(0.1) translateY(0%);
          transform-origin: bottom center;
          transition: opacity 0.6s, transform 0.6s;
          z-index: -1;
        }
    
        // Penumbra
        &:before {
          left: 0;
          width: 100%;
          background-color: rgba(0,0,0,0.4);
          filter: blur(10px);
        }
    
        // Umbra
        &:after {
          background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
          filter: blur(4px);
          width: 90%;
          left: 5%;
        }
      }
    }
    
    &.preload,
    &:hover {

      img {
        transform: translateY(-12%);
      }

      .responsive-image__wrapper .psuedo {

        &:before {
          transform: scale(1.2, 0.1) translateY(0%);
          opacity: 0.2;
        }
    
        &:after {
          transform: scale(0.75, 0.05) translateY(-100%);
          opacity: 0;
        }
      }
    }
  }

  &.full-height {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 500px) {
    justify-content: space-around;
    
    .hero-images-container {
      margin:  2em 0 5em;
    }

    .hero-image.floating-image {
      flex: 20em 0 1;
      position: relative;
    }
  }

  @media ($mq-medium) {
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 5em;
    position: relative;

    .description {
      max-width: 45%;
    }

    .hero-images-container {
      position: absolute;
      width: 60%;
      top: 50%;
      right: 0;
      align-items:  baseline;
      margin: 0;
      justify-content: flex-end;
      transform: translateY(-50%);
    }

    .hero-image.floating-image {
      flex: 12em 0 1;
    }

    h1 {
      transform: translateY(12%);
      letter-spacing: -4px;
    }
  }
}