.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 9em $gutter;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 1em;

  h1 {
    font-weight: bold;
    font-size: 8em;
    line-height: 1em;
    color: white;
    width: 100%;
    letter-spacing: -1px;
    margin: 0.25em auto 0;
  }

  .cta {
    background-color: white;
    color: $color-green;
    font-size: 1.3em;

    &:hover {
      background-color: $color-green;
      color: white;
    }
  }

  .grid & {
    margin-bottom: 0;
  }

  @media($mq-medium) {
    text-align: left;
    padding-top: 6em;
    padding-bottom: 6em;

    h1 {
      letter-spacing: -1px;
      font-size: 20em;
    }

    .cta {
      font-size: 1.2em;
      margin-bottom: 0.15em;
    }
  }
}