.secondary-callout {
  padding: 3em 0;

  p,
  .pack-info span, 
  ul,
  td {
    color: $color-light-gray;
  }

  text-align: center;
  font-size: 1.1em;

  @media ($mq-medium) {
    text-align: left;
    font-size: 1.3em;
  }

  .image-with-text {
    padding-top: 0;
    padding-bottom: 0;

    h2 {
      font-size: 3.2em;
    }

    .img-container:before {
      background-color: $color-pale-green;
    }
  }
}