form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input, 
textarea,
select {
  outline: none;
  padding: 0 0.5em;
  margin: 0;
  vertical-align: top;
  border: 1px solid #BDBDBD;
  font-size: 1.5rem;
  height: 4rem;
  line-height: 4rem;
  appearance: none;
  width: 100%;
  border-radius: 0;
  background-color: white;
}

input,
textarea,
select,
button {
  
  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

button,
input[type=submit],
label[for] {
  cursor: pointer;
  outline: none;
  appearance: none;
  font-family: inherit;
  border: none;
}

label {
  font-size: 1.6em;
  display: block;
  margin: 0 0 0.25em;
}

input[type=submit] {
  padding: 0.8em 2em 0.4em;
  background-color: $color-green;
  color: white;
  line-height: 1.5em;
  white-space: nowrap;
  font-weight: 500;
  border: none;
}

textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}
