html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

main {
  padding-top: $header-height;
}

.wrapper {
  padding-left: $gutter;
  padding-right: $gutter;
  max-width: 1200px;
  margin: 0 auto;

  &.pale-green {
    background-color: $color-pale-green;
    box-shadow: -1200px 0px 0px 0px $color-pale-green;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.intro-text {
  text-align: center;
  margin: 0 auto 7em;
  max-width: 30em;

  h1, h2, h3, h4, h5 {
    width: 50%
  }
}

.flex-columns {

  .column {
    margin-bottom: 2em;
  }

  @media ($mq-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .column {
      flex: 49% 0 1;

      &.one-third {
        flex: 30% 0 1;
      }

      &.two-thirds {
        flex: 65% 0 1;
      }
    }
  }

  &.narrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .column {
      flex: 16% 0 0;
    }
  }
}