.rte {
  margin: 0;
  font-size: 1.2em;

  @media ($mq-medium) {
    font-size: 1.3em;
  }

  img {
    height: auto;
  }

  table {
    table-layout: fixed;
  }

  p, ul, ol {
    color: $color-light-gray;
  }

  ul, ol {
    padding: 0 0 0 2em;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5em;
  }

  ul li {
    position: relative;

    &::before {
      content: '';
      background-color: $color-green;
      height: 0.3em;
      width: 0.3em;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0.5em;
      left: -1em;
    }
  }

  strong {
    color: $color-dark-text;

    small {
      color: $color-light-gray;
    }
  }

  h1 {
    font-size: 4em;
    margin: 0 0 0.4em;
  }

  h2 {
    font-size: 3.2em;
    margin: 0 0 0.4em;
  }

  h3 {
    font-size: 2em;
    margin: 0 0 0.75em;
  }

  h4 {
    font-size: 1.4em;
    margin: 0 0 1em;
  }

  iframe, video, img {
    display: block;
    margin: 0 0 1em;
  }
}

// Allow table to scroll for tables in the RTE since we don't know
// how many columns they will contain. Class added by JS.
.rte-table {
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}

// This class is wrapped around YouTube/Vimeo embeds in the RTE
// to make them responsive and prevent layout breaking
.rte__video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  height: auto;
  padding-bottom: 56.25%;
  margin-bottom: 1em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// This class is wrapped around tables in the RTE
// to prevent layout breaking with a scrollable parent
.rte__table-wrapper {
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}
