html, body {
  font-size: 10px;
}

// @font-face {
//   font-family: 'Calibre-Medium';
//   src: url("//cdn.shopify.com/s/files/1/0580/8769/t/32/assets/Calibre-Medium.otf?13140506617749322225");
//   font-weight: normal;
//   font-style: normal
// }

body {
  font-family: $font-body;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: $color-dark-text;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}
