{% if collection.products.size > 1 %}
  {% assign is_tabbed = true %} 
{% endif %}

{% if is_tabbed %}
  <article class="tabbed">
{% else %}
  <article>
{% endif %}

  {{ hero.content }}
  {% section 'hero-tins' %}

  {% if collection.description != blank %}
    <div class="rte">
      {{ collection.description }}
    </div>
  {% endif %}

  <!-- tabs -->
  {% if is_tabbed %}
    {% include 'collection-tabs' with collection: collection %}
  {% endif %}
  
  <!-- content -->
  {% for product in collection.products %}
    {% if forloop.index == 1 %}
      {% assign active_class = 'active' %}
    {% else %}
      {% assign active_class = '' %}
    {% endif %}
    {% include 'product' with product: product, section_id: forloop.index, css_class: active_class %}
  {% endfor %}
</article>