<article class="grid">

  {{ hero.content }}
  {% section 'hero-gear' %}

  <!-- tabs -->
  {% if is_tabbed %}
    {% include 'collection-tabs' with collection: collection %}
  {% endif %}
  
  <!-- content -->
  <div class="products-wrapper-grid flex-columns">
    {% for product in collection.products %}
      {% include 'product' with 
        product: product, 
        section_id: forloop.index,
        css_class: 'column grid',
        img_max_height: 320 
      %}
    {% endfor %}
  </div>
</article>