{%- comment -%}
  It creates a Hero banner
  
  Accepts:
  - section: {Object} Shopify section
  - css_class: {String} decorate with CSS classes

  Usage:
  In your liquid template file, copy the following line
  - {% include 'product' with css_class: 'bottles', section: section %}
{%- endcomment -%}
<header class="hero lazyload {{css_class}}"  data-bgset="{% include 'responsive-bg-image', image: section.settings.image %}">
  <h1 class="wrapper">{{section.settings.title}}</h1>
</header>