{% comment %} 
  Video Embed

  Params
  - video_url (video_url)

{% endcomment %}
<section class="video-container youtube">
  <iframe src="//www.youtube.com/embed/{{video_url.id}}?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>