.article-container {

  .rte {
    margin-bottom: 6em;
  }

  .timestamp {
    font-weight: 500;
    color: $color-light-gray;
    font-size: 1.8em;
  }

  .article-header {
    max-width: 55em;
    margin: 4em 5%;

    h1 {
      font-size: 5.2em;
      margin: 0 0 0.5em;
    }
  }

  h1, h2, h3, h4, h5, p, ul, ol, blockquote {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    &.media-container {
      max-width: none;
      display: inline;
    }
  }
}