.template-collection {
  
  .tabs {
    position: sticky;
    top: $header-height;
    z-index: 90;
    border-bottom: 1px solid #ebebeb;
    font-size: 1.2em;
    text-align: center;
    background-color: white;
    margin-top: 0.5em;

    ul {
      list-style-type: none;
      margin: auto;
      padding: 0;

      @media ($mq-medium) {
        display: flex;
        justify-content: center;
      }
    }

    li {
      flex: 16em 0 1;
      margin: 0;
      padding: 0;
    }

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3em;
      font-weight: 500;
      line-height: 1.1em;
      color: $color-light-gray;
      transition: border-color 0.45s, color 0.3s, max-height 0.3s;
      max-height: 0;
      overflow: hidden;

      &.active {
        max-height: 3em;
        color: $color-green;

        &:after {
          content: '\203A';
          font-size: 1.75em;
          font-weight: normal;
        }
      }

      @media ($mq-medium) {
        max-height: none;
        border-bottom: 2px solid transparent;

        &.active {
          border-bottom: 2px solid $color-green;
        }
        
        &:after {
          display: none;
        }
      }
    }

    span {
      text-align: left;
      margin: 0 $gutter;

      @media ($mq-medium) {
        margin: 0 auto;
        width: 80%;
        text-align: center;
      }
    }
  }

  // Hide products when not activated by tabs on a tabbed layout
  article.tabbed .product-container {
    display: none;

    &:before {
      background-color: $color-green;
      content: "";
      display: block;
      height: 0;
      transition: height 0.5s;
      opacity: 1;
    }

    &.Red {
      &:before {
        background-color: $color-red;
      }
    }

    &.LightGreen {
      &:before {
        background-color: $color-light-green;
      }
    }
  
  
    &.Gold {
      &:before {
        background-color: $color-gold;
      }
    }
  
    &.Mint {
      &:before {
        background-color: $color-mint;
      }
    }
    
    &.active {
      display: inherit;
    }

    &.in::before,
    &.out::before {
      height: 90vh
    }
  }

  // expanded inactive tabs if menu is toggled.
  .tabbed.expanded .tabs a {
    max-height: 3em;

    &:active::after {
      transform: rotate(-90deg);
      color: red;
    }
  }

  // -- Grid layout
  article.grid {

    > .shopify-section {
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
  }

  .products-wrapper-grid {
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
}