.template-page {

  main {
    padding: 15em 0 6em;
  }
}

// -- Specific pages
#contact-page {
  align-items: start;
  
  input,
  select,
  textarea {
    margin: 0 0 2.5em;
  }
}

#about-matchabar main,
#matcha-101 main {
  padding-top: $header-height-initial;
}