<div class="banner">
  <h2 style="margin-top: 200px">test</h2>
  <p>{{ pages[section.settings.page].content }}</p>
  <img src="{{ '../assets/images/hustle-animated.png' | asset_url }}"/>
</div>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "page",
        "id": "page",
        "label": "Include page"
      }
    ],
    "presets": [
      {
        "name": "Banner",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}