<div>
  {% for block in section.blocks %}
    <div class="content-blocks" {{ block.shopify_attributes }}>
      {% case block.type %}

        {% when 'promo' %}
        {% include 'promo' %}

        {% when 'video' %}
        {% include 'video' %}

        {% when 'richtext_block' %}
        {% include 'richtext-block' %}

        {% when 'image_with_text' %}
        {% include 'image-with-text' %}

      {% endcase %}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Collection Page Blocks",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "This is a collection"
      },
      {
        "type": "select",
        "id": "layout_type",
        "options": [
          {"value": "tabs", "label": "Tabs"},
          {"value": "grid", "label": "Grid"}
        ],
        "label": "Layout Type"
      }
    ],
    "blocks": [
      {
        "name": "Image with text",
        "type": "image_with_text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Image alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      },
      {
        "name": "Video",
        "type": "video",
        "settings": [
          {
            "id": "video",
            "type": "video_url",
            "accept": ["vimeo"],
            "label": "Vimeo URL"
          }
        ]
      },
      {
        "name": "Rich Text",
        "type": "richtext_block",
        "settings": [
          {
            "id": "rich_text_field",
            "type": "richtext",
            "label": "Enter rich text"
          }
        ]
      },
      {
        "type": "promo",
        "name": "Promo",
        "settings": [
          {
            "id": "promoTitle",
            "type": "textarea",
            "label": "Title"
          },
          {
            "id": "promoSubtitle",
            "type": "textarea",
            "label": "Subtitle"
          }
        ]
      }
    ]
  }
{% endschema %}