<div class="wrapper">
  <div class="intro">
    <h2>{{section.settings.title}}</h2>
    {% include 'social-links' %}
  </div>
  <div id="insta-feed"></div>
</div>

{% schema %}
  {
    "name": "Instagram Feed",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}