<aside>
  <a href="{{settings.social_instagram_link}}">
    <h2>{{section.settings.title}}</h2>
    <h4><i class="fab fa-instagram"></i> Matchabar</h4>
  </a>
  <div id="insta-feed"></div>
</aside>

{% schema %}
  {
    "name": "Instagram Feed",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}