<div class="banner hero preload" id="introducing-hustle">
  {% assign cta = section.settings.calls_to_action %}
  <div class="wrapper">
    <h1>
      <span>introducing</span>
      <div class="hustle-svg-container">
        <svg viewbox="0 0 1210 313" xmlns="http://www.w3.org/2000/svg">
          <path d="M189.215 17.297v110.316H77.005V17.297H.78V308h76.227V192.95h112.21V308h76.226V17.297h-76.227zm315.303 77.647h-74.333v129.254c-3.788 14.677-16.571 23.673-30.301 23.673-18.939 0-27.46-12.783-27.46-30.775V94.944h-73.86v139.67c0 47.346 27.934 78.12 74.806 78.12 24.146 0 45.452-9.942 56.815-23.199V308h74.333V94.944zm20.338 147.245c6.629 45.926 45.926 70.546 100.373 70.546 52.08 0 93.271-25.094 93.271-70.546 0-34.562-20.832-54.92-59.655-63.916l-42.138-9.943c-9.943-1.894-14.677-5.208-14.677-11.836 0-9.47 8.996-14.204 19.885-14.204 17.045 0 23.673 8.049 26.04 17.044h68.652c-6.629-42.137-38.35-69.125-96.586-69.125-50.186 0-90.904 26.514-90.904 71.966 0 37.403 23.2 54.448 58.71 62.023l41.663 8.522c10.416 2.368 16.571 5.208 16.571 13.257 0 9.943-9.469 14.677-21.779 14.677-13.256 0-23.673-6.628-26.987-18.465h-72.439zm232.921-7.575c0 53.974 28.408 77.647 78.594 77.647 16.571 0 32.669-2.84 41.191-6.628v-62.97c-6.628 2.84-15.624 4.734-23.673 4.734-14.677 0-22.726-7.101-22.726-23.672v-71.02h44.505v-57.76h-44.505v-58.71h-73.386v58.71H726.53v57.76h31.248v81.91zM978.862.253h-74.333V308h74.333V.253zm161.429 233.414h68.65c-7.574 49.24-44.504 79.068-99.899 79.068-65.337 0-108.421-44.979-108.421-111.263 0-65.81 45.452-111.263 107.001-111.263 65.337 0 102.267 43.559 102.267 107.002v18.465h-137.776c2.367 25.566 15.624 39.297 36.93 39.297 15.15 0 26.986-6.629 31.248-21.306zm-32.669-85.696c-17.518 0-29.354 10.89-34.089 30.775h64.39c-.947-17.518-11.836-30.775-30.301-30.775z" fill="#2EA170" fill-rule="evenodd"/>
        </svg>
      </div>
    </h1>
    {% if linklists[cta].links.size > 0 %}
      <div class="cta-container">
        {% for link in linklists[cta].links %}
          <a href="{{ link.url }}" class="cta">{{ link.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="hustle-bottle-container" data-custom-src="https://s3.amazonaws.com/matchabar-assets/hustle-animated.png"/>
  </div>
</div>

{% schema %}
  {
    "name": "Introding Hustle",
    "settings": [
      {
        "id": "calls_to_action",
        "type": "link_list",
        "label": "Calls to action"
      }
    ],
    "presets": [
      {
        "name": "Introducing Hustle",
        "category": "Static"
      }
    ]
  }
{% endschema %}