<section class="banner hero lazyload" id="introducing-hustle" data-bgset="{% include 'responsive-bg-image', image: section.settings.image %}">
  {% comment %} TODO: troubleshoot why this doesn't update {% endcomment %}
  <h1>Gift the Hustle</h1>
  <a href="giftthehustle.com" class="cta">Gift a free can</a>
</section>

{% schema %}
  {
    "name": "Introding Hustle",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ],
    "presets": []
  }
{% endschema %}