<section class="banner hero lazyload" id="introducing-hustle" data-bgset="{% include 'responsive-bg-image', image: section.settings.image %}">
  <h1>{{section.settings.headline}}</h1>
  <a href="{{section.settings.cta_url}}" class="cta">{{section.settings.cta_text}}</a>
</section>

{% schema %}
  {
    "name": "Introding Hustle",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ],
    "presets": []
  }
{% endschema %}