<article id="matcha101">
  {% for block in section.blocks %}
    <div class="content-blocks" {{ block.shopify_attributes }}>
      {% case block.type %}

        {% comment %} 
          I realize this is misspelled but it's impossible to change this in Slate
          because it is terrible software.
        {% endcomment %}
        {% when 'imgage_with_text' %}
        {% include 'image-with-text' with
          image: block.settings.image,
          layout: block.settings.layout,
          title: block.settings.title,
          text: block.settings.text,
          button_label: block.settings.button_label,
          button_link: block.settings.button_link 
        %}

        {% when 'banner' %}
        <div class='wrapper pale-green'>
          {% include 'page-content-snippets' with
            handles: block.settings.page
          %}
        </div>

        {% when 'know_ur_matcha' %}
        {% include 'know-your-matcha' with 
          headline: block.settings.headline,
          description: block.settings.description,
          thumbnail: block.settings.thumbnail,
          link_text: block.settings.link_text,
          link_url: block.settings.link_url
        %}

        {% when 'what_is_matcha' %}
        {% include 'what-is-matcha' with 
          headline: block.settings.headline,
          description: block.settings.description,
          basics_headline: block.settings.basics_headline,
          basics_1_icon: block.settings.basics_1_icon,
          basics_1_title: block.settings.basics_1_title,
          basics_1_description: block.settings.basics_1_description,
          basics_2_icon: block.settings.basics_2_icon,
          basics_2_title: block.settings.basics_2_title,
          basics_2_description: block.settings.basics_2_description,
          basics_3_icon: block.settings.basics_3_icon,
          basics_3_title: block.settings.basics_3_title,
          basics_3_description: block.settings.basics_3_description,
          basics_4_icon: block.settings.basics_4_icon,
          basics_4_title: block.settings.basics_4_title,
          basics_4_description: block.settings.basics_4_description
        %}

        {% when 'stacks_up' %}
        {% include 'stacks-up' with
          title: block.settings.title,
          description: block.settings.description,
          hustle_img: block.settings.hustle_img,
          bottle_img: block.settings.bottle_img
        %}

      {% endcase %}
    </div>
  {% endfor %}
</article>
{% schema %}
  {
    "name": "Matcha 101",
    "settings": [],
    "blocks": [
      {
        "name": "Image with text",
        "type": "imgage_with_text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Image alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      },
      {
        "name": "Know Your Matcha",
        "type": "know_ur_matcha",
        "settings": [
          {
            "type": "text",
            "id": "headline",
            "label": "Headline"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          },
          {
            "type": "image_picker",
            "id": "thumbnail",
            "label": "Thumbnail"
          }
        ]
      },
      {
        "name": "What is Matcha?",
        "type": "what_is_matcha",
        "settings": [
          {
            "type": "text",
            "id": "headline",
            "label": "Headline"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "basics_headline",
            "label": "Basics Headline"
          },
          {
            "type": "image_picker",
            "id": "basics_1_icon",
            "label": "Basics 1 icon"
          },
          {
            "type": "text",
            "id": "basics_1_title",
            "label": "Basics 1 title"
          },
          {
            "type": "richtext",
            "id": "basics_1_description",
            "label": "Basics 1 description"
          },
          {
            "type": "image_picker",
            "id": "basics_2_icon",
            "label": "Basics 2 icon"
          },
          {
            "type": "text",
            "id": "basics_2_title",
            "label": "Basics 2 title"
          },
          {
            "type": "richtext",
            "id": "basics_2_description",
            "label": "Basics 2 description"
          },
          {
            "type": "image_picker",
            "id": "basics_3_icon",
            "label": "Basics 3 icon"
          },
          {
            "type": "text",
            "id": "basics_3_title",
            "label": "Basics 3 title"
          },
          {
            "type": "richtext",
            "id": "basics_3_description",
            "label": "Basics 3 description"
          },
          {
            "type": "image_picker",
            "id": "basics_4_icon",
            "label": "Basics 4 icon"
          },
          {
            "type": "text",
            "id": "basics_4_title",
            "label": "Basics 4 title"
          },
          {
            "type": "richtext",
            "id": "basics_4_description",
            "label": "Basics 4 description"
          }
        ]
      },
      {
        "name": "Banner",
        "type": "banner",
        "settings": [
          {
            "type": "page",
            "id": "page",
            "label": "Banner include"
          }
        ]
      },
      {
        "name": "How it Stacks Up",
        "type": "stacks_up",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Headline"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "bottle_img",
            "label": "Bottle Image"
          },
          {
            "type": "image_picker",
            "id": "hustle_img",
            "label": "Hustle Image"
          }
        ]
      },
      {
        "name": "Ceremonial vs. Culinary",
        "type": "ceremonial_vs_culinary",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Headline"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }      
    ]
  }
{% endschema %}