<section id="the-team">
  <h2>{{ section.settings.title }}</h2>
  <ul>
    {% for block in section.blocks %}
      <li>
        <div class="img-container">
          {% include "responsive-image" with
            image: block.settings.image,
            max_width: 150,
            max_height: 150
          %}
        </div>
        <h4>{{ block.settings.name }}</h4>
        <h5>{{ block.settings.title }}</h5>
      </li>
    {% endfor %}
  </ul>
</section>
{% schema %}
{
  "name": "The Team",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "name": "Teammate",
      "type": "person",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Portrait"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Job title"
        }
      ]
    }
  ]
}
{% endschema %}