.image-with-text {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;

  .img-container {
    max-width: 50rem;
    margin: 0 auto;
    @include swipe_load();
  }

  .text-container {
    margin-bottom: 1em;

    > * {
      transition: opacity 0.4s 0.5s, transform 0.3s 0.75s;
    }

    > h1, h2, h3, h4, h5 {
      transition-delay: 0.5s, 0.9s
    }

    &.out-of-viewport > * {
      transform: translate3d(0, 25%, 0);
      opacity: 0,
    }
  }

  img {
    display: block;
  }

  h2 {
    font-size: 4.2em;
    opacity: 1;
  }

  .text-cta {
    font-size: 1.5em;
  }

  .cta-container {
    margin-top: 1.5em;
  }

  @media ($mq-medium) {
    text-align: initial;

    &.dir-right {
      flex-direction: row-reverse;
    }
    
    .text-container > * {
      max-width: 40rem;
      margin-left: 0;
    }
  }
}
