.image-with-text {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;

  .img-container {
    max-width: 50rem;
    margin: 0 auto;
  }

  .text-container {
    margin-bottom: 1em;
  }

  img {
    display: block;
  }

  @media ($mq-medium) {
    text-align: initial;
  }
}
