#shopify-section-instagram-feed {
  text-align: center;

  h2 {
    font-size: 2.5em;
    color: $color-green;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 1.5em;
    color: #BDBDBD;
  }

  &:hover h4, 
  &:hover h2, {
    color: $color-dark-text;
  }

  @media ($mq-medium) {

    h2 {
      font-size: 3.2em;
    }
  
    h4 {
      font-size: 2em;
    }
    
  }
}

#insta-feed {
  margin-top: 4em;

  .container {
    width: 25%!important;
    padding-top: 25%!important;
  }

  @media (min-width: 800px) {
    margin-top: 8em;

    .container {
      width: 12.5%!important;
      padding-top: 12.5%!important;
    }
  }
}