#shopify-section-partners {
  text-align: center;
  background-color: white;
  padding: 6em 0;

  h2 {
    font-size: 3.2em;
  }

  ul {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;

    @media ($mq-medium) {
      flex-wrap: nowrap;
    }
  }

  li {
    flex: 12em 0 1;
    padding: 0 1em;
  }

  .img-container {
    height: 200px;
    display: flex;
    align-items: flex-end;
    margin: 0 1em 2%;
  }

  h4 {
    font-weight: normal;
    font-size: 1.2em;
  }
}