.product-container {

  .wrapper {
    padding-top: calc(#{$header-height} + 3em);
  }

  h5.tagline {
    color: $color-light-gray;
  }

  .product-img {
    margin-bottom: 4em;
    position: relative;

    img {
      filter: drop-shadow(-20px 22px 25px rgba(0, 0, 0, 0.25));
    }

    svg {
      position: absolute;
      width: 70%;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
      z-index: -1;
    }

    .img-wrapper {
      display: none;

      &.active {
        display: block;
      }
    }
  }
  
  .product-main {
    font-size: 1.1em;
    text-align: center;
    margin: 0 auto 10em;
    min-height: 80vh;

    h1 {
      font-size: 3.333em;
      margin: 0 0 0.5em;
    }

    h5 {
      margin: 0 0 1em;
    }

    .description {
      margin: 0 0 2em;
      font-size: 1em;
    }

    .text-container p {
      max-width: 24em;
    }

    @media ($mq-medium) {
      font-size: 1.3em;
      text-align: left;
    }
  }

  .cta {
    font-size: 1.3em;

    &.external-vendor {
      font-size: 1.35em;
      margin-top: 0.5em;
    }
  }

  .pack-info {
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid $color-light-gray;
    margin-right: 1em;

    strong, span {
      display: inline-block;
      vertical-align: top;
    }

    strong {
      font-size: 3em;
      line-height: 1em;
      margin: 0 0.1em 0 0;
    }

    span {
      width: 6em;
    }
  }

  .price {
    display: inline-block;
    vertical-align: top;
    font-size: 3em;
    font-weight: 500;
    line-height: 1em;
  }

  .nutrition-information {
    font-size: 1.1em;
    max-width: 30em;
    padding-bottom: 6em;

    @media ($mq-medium) {
      font-size: 1.3em;
    }
  }

  .nutrition-info-container {
    align-items: flex-start;

    .column {
      flex: 47% 0 1;
    }

    ul {
      padding-left: 0;
    }
    
    li:before {
      display: none;
    }
  }

  .interstitial {
    min-height: 50em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .add-to-cart form {

    font-size: 1.2em;

    .cta {
      width: 14rem;
    }

    @media ($mq-medium) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      font-size: inherit;
      align-items: flex-start;

      .cta {
        width: auto;
      }
    }
  }

  .quanitity-selector {
    background-color: #F8F8F8;
    box-shadow: inset 0 0 1px $color-light-gray;
    border-radius: 3em;
    width: 14rem;
    margin: 0 auto 1em;
    white-space: nowrap;

    button {
      appearance: none;
      border: none;
      background-color: transparent;
      outline: none;
      margin: 0 0.75em;
      height: 100%;
      font-weight: 500;
      font-size: 1.5em;
      padding: 0.75em 0 0.5em;
    }

    input[type=number] {
      background-color: transparent;
      text-align: center;
      width: 2em;
      font-size: 1.5em;
      font-weight: 500;
      font-family: inherit;
      line-height: 1em;
      padding: 1.35em 0 1.1em;
      text-align: right;
      border: none;
    }

    @media ($mq-medium) {
      width: auto;
      margin: 0 0 0 1em;
    }
  }

  &.Magenta {
    & .cta {
      background-color: $color-magenta;
    }
  }

  &.Gold {
    & .cta {
      background-color: $color-gold;
    }
  }

  &.Mint {
    & .cta {
      background-color: $color-mint;
    }
  }

  &.grid {
    flex: 46% 0 0;
    padding-top: 0;

    .product-img {
      img {
        filter: none;
      }
      svg {
        display: none;
      }
    }

    .product-main {
      display: block;
      margin-bottom: 6em;
      min-height: initial;
    }

    .img-container {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    
    figcaption {
      text-align: center;
      font-size: 1.3em;
      color: $color-light-gray;
      background-color: white;
    }
  }
}