#the-team {
  margin-bottom: 4em;

  h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  .img-container {
    margin-bottom: 2em;
  }

  li:before {
    display: none;
  }

  ul {
    padding-left: 0;

    @media (min-width: 750px) {
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    margin: 1.5em 0 0;
    flex: 0 0 30%;
  }

  a {
    font-size: 1.1em;
    display: block;
    font-weight: 500;

    &:hover {
      color: $color-dark-text;
    }
  }
}